html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.layout {
  padding: 0px;
}

.header{
  text-align: right;
  padding: 20% 15px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgb(61, 79, 93);
  color: #fff;
}

.content {
  margin: 10px;
  padding-left: 25%;
}

.btn-success,
.btn-error,
.btn-warning,
.btn-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.btn-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.btn-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.btn-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}
